<html>
<head>
<title>Mesozoic Island</title>
</head>

<body>
<h1>Welcome to Mesozoic Island!</h1>
<nav>
        <a href="/">Index</a>
        <a href="/species/">Species</a>
        <a href="/dinosaurs/">Dinosaurs</a>
        <a href="/exhibits/">Exhibits</a>
        <a href="/employees/">Employees and Volunteers</a>
        <a href="/shifts/">View/Edit Shifts</a>
</nav>
<h2>Species</h2>

<div id="browse" style="display: block">
<p><strong>View Employees and Volunteers</strong></p>

{{!-- Create a table --}}
<table id="employees-table" border="1" cellpadding="5">
	
	{{!-- Header section --}}
	<thead>
		<tr>
			{{#each data.[0]}}
			<th>
				{{@key}}
			</th>
			{{/each}}
		</tr>
	</thead>

	{{!-- Body section --}}
	<tbody>
		{{#each data}}
		<tr data-value={{this.employee_ID}}>
			<td>{{this.employee_ID}}</td>
			<td>{{this.employee_name}}</td>
			<td>{{this.employee_job_title}}</td>
			<td>{{this.employee_hourly}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>

{{!-- Form to add a record to the table --}}
<div id="insert" style="display: block">
<h2>Add an Employee or Volunteer</h2>
<p>To add a new Employee or Volunteer, please enter their information below and click 'Submit'! (volunteers will have an hourly rate of 0)</p>
<form id="add-employee-form-ajax">

	<label for="species_name_input">Species Name: </label>
	<input type="text" name="species_name_input" id="species_name_input">
	
	<label for="period_input">Period: </label>
	<input type="text" name="period_input" id="period_input">

	<label for="type_input">Type: </label>
	<input type="text" name="type_input" id="type_input">
	
	<label for="diet_input">Diet: </label>
	<input type="text" name="diet_input" id="diet_input">

	<input type="submit">
</form>

<script src="../js/add_employee.js"></script>

<p>&nbsp;</p>
</div>
</body>
</html>
