<html>
<head>
<title>Mesozoic Island</title>
<link rel="stylesheet" href="../app.css">
</head>

<body>
<h1>Welcome to Mesozoic Island!</h1>
<nav>
        <a href="/">Index</a>
        <a href="/species/">Species</a>
        <a href="/dinosaurs/">Dinosaurs</a>
        <a href="/exhibits/">Exhibits</a>
        <a href="/employees/">Employees and Volunteers</a>
        <a href="/shifts/">View/Edit Shifts</a>
</nav>
<h2>Shifts</h2>

<div id="browse" style="display: block">

{{!-- Create a table --}}
<table id="shifts-table" border="1" cellpadding="5">
	
	{{!-- Header section --}}
	<thead>
		<tr>
			{{#each data.[0]}}
			<th>
				{{@key}}
			</th>
			{{/each}}
			<th>delete</th>
		</tr>
	</thead>

	{{!-- Body section --}}
	<tbody>
		{{#each data}}
		<tr data-value={{this.shift_ID}}>
			<td>{{this.shift_ID}}</td>
			<td>{{this.employee_ID}}</td>
			<td>{{this.duties}}</td>
			<td>{{this.start_time}}</td>
			<td>{{this.end_time}}</td>
			<td><button onclick="deleteShift({{this.shift_ID}})">Delete</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>
<script src="../js/delete_shift.js"></script>

<h2>ExhibitShifts: Which Shifts cover Which Exhibits?</h2>
<table id="exhibit-shifts-table" border="1" cellpadding="5">
	
	<thead>
		<tr>
			<th>Shift_ID</th>
			<th>Exhibit_ID</th>
		</tr>
	</thead>

	<tbody>
		{{#each exhibitShifts}}
		<tr data-value={{this.shift_ID}}{{this.exhibit_ID}}>
			<td>{{this.shift_ID}}</td>
			<td>{{this.exhibit_ID}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>

{{!-- Form to add a record to the table --}}
<div id="insert" style="display: block">
<h2>Add a Shift</h2>
<p>To add a new Shift, please enter the information sbove and click 'Submit'! Note: you can add multiple exhibits to a shift by holding ctrl and clicking on each one you want to add.</p>
<form id="add-shift-form-ajax">

	<label for="employee_ID_input">Employee/Volunteer: </label>
	<select name"employee_ID_input" id="employee_ID_input">
		<option value="">Select an Employee/Volunteer</option>
		{{#each employees}}
		<option value="{{this.employee_ID}}">{{this.employee_name}}</option>
		{{/each}}
	</select>
	
	<label for="period_input">Exhibit(s): </label>
	<select name="exhibit_ID_input" id="exhibit_ID_input" multiple>
		<option value="">No Exhibits</option>
		{{#each exhibits}}
		<option value="{{this.exhibit_ID}}">{{this.exhibit_name}}</option>
		{{/each}}
	</select>

	<label for="type_input">Duties: </label>
	<input type="text" name="duties_input" id="duties_input">
	
	<label for="start_time_input">Start Time: </label>
	<input type="time" name="start_time_input" id="start_time_input">

	<label for="end_time_input">End Time: </label>
	<input type="time" name="end_time_input" id="end_time_input">

	<input type="submit">
</form>

<script src="../js/add_shift.js"></script>

<h2>Update a Shift</h2>
<p>To update a specific shift, select the shift from the drop-down menu on the left and the desired exhibits on the right. Note: you can add multiple exhibits to a shift by holding ctrl and clicking on each one you want to add or update the shift to contain no exhibits by selecting only "No Exhibits".</p>
<form id="update-shift-form-ajax">

	<label for="shift_ID_input">Select Shift: </label>
	<select name="shift_ID_input" id="shift_ID_input">
		<option value="test">Select a Shift</option>
		{{#each data}}
		<option value="{{this.shift_ID}}">Shift ID: {{this.shift_ID}}, Employee ID: {{this.employee_ID}}, Shift Time: {{this.start_time}}-{{this.end_time}}</option>
		{{/each}}
	</select>

	<label for="exhibit_ID_inputs">Select Exhibits: </label>
	<select name="exhibit_ID_inputs" id="exhibit_ID_inputs" multiple>
		<option value "">No Exhibits</option>
		{{#each exhibits}}
		<option value="{{this.exhibit_ID}}">{{this.exhibit_name}}</option>
		{{/each}}
	</select>
<input type="submit">
</form>
<script src="../js/update_shift.js"></script>

<p>&nbsp;</p>
</div>
</body>
</html>
