<html>
<head>
<title>Mesozoic Island</title>
</head>

<body>
<h1>Welcome to Mesozoic Island!</h1>
<nav>
        <a href="/">Index</a>
        <a href="/species/">Species</a>
        <a href="/dinosaurs/">Dinosaurs</a>
        <a href="/exhibits/">Exhibits</a>
        <a href="/employees/">Employees and Volunteers</a>
        <a href="/shifts/">View/Edit Shifts</a>
</nav>
<h2>Shifts</h2>

<div id="browse" style="display: block">
<p><strong>View and Edit Shifts</strong></p>

{{!-- Create a table --}}
<table id="shifts-table" border="1" cellpadding="5">
	
	{{!-- Header section --}}
	<thead>
		<tr>
			{{#each data.[0]}}
			<th>
				{{@key}}
			</th>
			{{/each}}
			<th>delete</th>
		</tr>
	</thead>

	{{!-- Body section --}}
	<tbody>
		{{#each data}}
		<tr data-value={{this.shift_ID}}>
			<td>{{this.shift_ID}}</td>
			<td>{{this.employee_ID}}</td>
			<td>{{this.exhibit_ID}}</td>
			<td>{{this.duties}}</td>
			<td>{{this.start_time}}</td>
			<td>{{this.end_time}}</td>
			<td><button onclick="deleteShift({{this.shift_ID}})">Delete</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>
<script src="../js/delete_shift.js"></script>

{{!-- Form to add a record to the table --}}
<div id="insert" style="display: block">
<h2>Add a Shift</h2>
<p>To add a new Shift, please enter the information below and click 'Submit'!</p>
<form id="add-shift-form-ajax">

	<label for="employee_ID_input">Employee/Volunteer: </label>
	<select name"employee_ID_input" id="employee_ID_input">
		<option value="">Select an Employee/Volunteer</option>
		{{#each employees}}
		<option value="{{this.employee_ID}}">{{this.species_name}}</option>
		{{/each}}
	</select>
	
	<label for="period_input">Exhibit(s): </label>
	<select name="exhibit_ID_input" id="exhibit_ID_input" multiple>
		<option value="">No Exhibits</option>
		{{#each exhibits}}
		<option value="{{this.exhibit_ID}}">{{this.exhibit_name}}</option>
		{{/each}}
	</select>

	<label for="type_input">Duties: </label>
	<input type="text" name="duties_input" id="duties_input">
	
	<label for="start_time_input">Start Time: </label>
	<input type="datetime" name="start_time_input" id="start_time_input">

	<label for="end_time_input">End Time: </label>
	<input type="datetime" name="start_time_input" id="start_time_input">

	<input type="submit">
</form>

<script src="../js/add_shift.js"></script>

<p>&nbsp;</p>
</div>
</body>
</html>
