<html>
<head>
<title>Mesozoic Island</title>
<link rel="stylesheet" href="../app.css">
</head>

<body>
<h1>Welcome to Mesozoic Island!</h1>
<nav>
        <a href="/">Index</a>
        <a href="/species/">Species</a>
        <a href="/dinosaurs/">Dinosaurs</a>
        <a href="/exhibits/">Exhibits</a>
        <a href="/employees/">Employees and Volunteers</a>
        <a href="/shifts/">View/Edit Shifts</a>
</nav>
<h2>Species</h2>

<div id="browse" style="display: block">

{{!-- Create a table --}}
<table id="species-table" border="1" cellpadding="5">
	
	{{!-- Header section --}}
	<thead>
		<tr>
			{{#each data.[0]}}
			<th>
				{{@key}}
			</th>
			{{/each}}
			<th>delete</th>
		</tr>
	</thead>

	{{!-- Body section --}}
	<tbody>
		{{#each data}}
		<tr data-value={{this.species_ID}}>
			<td>{{this.species_ID}}</td>
			<td>{{this.species_name}}</td>
			<td>{{this.period}}</td>
			<td>{{this.type}}</td>
			<td>{{this.diet}}</td>
			<td><button onclick="deleteSpecies({{this.species_ID}})">Delete</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>
<script src="../js/delete_species.js"></script>

{{!-- Form to add a record to the table --}}
<div id="insert" style="display: block">
<h2>Add a Species</h2>
<p>To add a new Species, please enter its information below and click 'Submit'!</p>
<form id="add-species-form-ajax">

	<label for="species_name_input">Species Name: </label>
	<input type="text" name="species_name_input" id="species_name_input">
	
	<label for="period_input">Period: </label>
	<input type="text" name="period_input" id="period_input">

	<label for="type_input">Type: </label>
	<input type="text" name="type_input" id="type_input">
	
	<label for="diet_input">Diet: </label>
	<input type="text" name="diet_input" id="diet_input">

	<input type="submit">
</form>

<script src="../js/add_species.js"></script>

<p>&nbsp;</p>
</div>
</body>
</html>
