<html>
<head>
<title>Mesozoic Island</title>
</head>

<body>
<h1>Welcome to Mesozoic Island!</h1>
<br>
<h2>Species</h2>

<div id="browse" style="display: block">
<p><strong>View Species</strong></p>

{{!-- Create a table --}}
<table id="species-table" border="1" cellpadding="5">>
	
	{{!-- Header section --}}
	<thead>
		<tr>
			{{#each data.[0]}}
			<th>
				{{@key}}
			</th>
			{{/each}}
			<th>delete</th>
		</tr>
	</thead>

	{{!-- Body section --}}
	<tbody>
		{{#each data}}
		<tr data-value={{this.species_ID}}>>
			<td>{{this.species_ID}}</td>
			<td>{{this.species_name}}</td>
			<td>{{this.period}}</td>
			<td>{{this.type}}</td>
			<td>{{this.diet}}</td>
			<td><button onclick="deleteSpecies({{this.species_ID}})">Delete</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>
<script src="./js/delete_species.js"></script>

{{!-- Form to add a record to the table --}}
<h2>Add a Species</h2>
<p>To add a new Species, please enter its information below and click 'Submit'!</p>
<form id="add-species-form-ajax">
	<label for="species_name_input">Species Name: </label>
	<input type="text" name="species_name_input" id="species_name_input">
	
	<label for="period_input">Period: </label>
	<input type="text" name="period_input" id="period_input">

	<label for="type_input">Type: </label>
	<input type="text" name="type_input" id="type_input">
	
	<label for="diet_input">Diet: </label>
	<input type="text" name="diet_input" id="diet_input">

	<input type="submit">
</form>

<script src="./js/add_species.js"></script>

	

<p>&nbsp;</p>
</div>
<div id="insert" style="display: block">
	<form id="addSpecies">
		<legend><strong>Add Species</strong></legend>
			<fieldset class="fields">
				<label> Species Name </label> <input type="text" name="name">
				<label> Period </label> <input type="text" name="period">
				<label> Type </label> <input type="text" name="type">
				<label> Diet </label> <input type="text" name="diet">
			</fieldset>
			<input class="btn" type="submit" id="addSpecies" value = "Add a Species">
			<input class="btn" type="button" value="cancel">
	</form>
</div> <!-- browse -->

<p>&nbsp;</p>
<div id="update" style="display: block">
	<form id="updateSpecies">
		<legend><strong>Update Species</strong></legend>
			<fieldset class="fields">
			<label>ID:</label> 1
				<label> Species Name </label> <input type="text" value="Ankylosaur" name="name">
				<label> Period </label> <input type="text" value="Cretaceous" name="eriod">
				<label> Type </label> <input type="text" value="land" name="type">
				<label> Diet </label> <input type="text" value="herbivore" name="diet">
			</fieldset>
			<input class="btn" type="submit" id="updateSaveSpecies" value="Save Update Species">
				<input class="btn" type="button" value="cancel" >
	</form>
</div>
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form id="deleteSpecies">
      <legend><strong>Delete Species</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label>ID:</label> 1
            <label> Species Name </label> Ankylosaur
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteSpecies" value="Delete Species">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div>

<h2>Index</h2>
<ul>
	<li><a href="/species/">Species</a></li>
	<li><a href="/individuals/">Individuals</a></li>
	<li><a href="/exhibits/">Exhibits</a></li>
	<li><a href="/employees/">Employees and Volunteers</a></li>
	<li><a href="/shifts/">View/Edit Shifts</a></li>
</ul>
</body>
</html>
